@{
    ViewData["Title"] = "Access denied";
}

<header >
    <div class="container" >
        <div class="alert alert-danger dangerdiv "style="margin-top:8%;margin-bottom:15%;">
            <h3 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Aandacht!</h3>
            <h4>U hebt hiervoor geen toegang ! </h4>
        </div>
   </div>

</header>
