@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <p class="tekstWelkom">
            Bedankt voor het bevestigen van de mail.
        </p>
    </div>
</div>
 
