
@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <h4 class="text-danger">ViewBag.Message</h4>

    </div>
</div>



