@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <p class="tekstWelkom">Koppel uw @ViewData["LoginProvider"] account.</p>
        <hr />
        <p class="text-info">
            U hebt u met succes gekoppeld aan <strong>@ViewData["LoginProvider"]</strong>.<br />
            Geef uw e-mail in voor deze site en druk op de 'Registreer'-knop
        </p><br />
    </div>


    <div class="row">
        <div class="col-md-4">
            <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Registreer</button>
            </form>
        </div>
    </div>
</div>
<br />
<br />
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
