@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Paswoord vergeten?";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <p class="tekstWelkom"> Geeft uw e-mail in: </p><br />

    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Verstuur</button>
            </form>
        </div>
    </div>
</div>
<br />
<br />

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
