
@{
    ViewData["Title"] = "Info";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewBag.Title</p><br />
        <p class="tekstWelkom">@ViewBag.Message</p>

    </div>
 </div>

 

