
@{
    ViewData["Title"] = "Info";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewBag.Title</p><br />

        <h4 style="margin-top:10%;margin-bottom:5%;">@ViewBag.Message</h4>
        <hr />
       
    </div>
 </div>

 

