@{
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="container">
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">De account is geblokkeerd. Probeer later opnieuw.</p>
    </div>
    
</header>
