@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@section showPublic{
    @await Component.InvokeAsync("MainNavigation", new { showAdmin = false })
}
@section head{

}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">Registreer</p>

    </div>

    <div class="row" style="color:dimgray">

        <div class='col-sm-12 col-md-2 col-lg-3'></div>
        <div class='col-sm-12 col-md-8 col-lg-6'>

            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <p class="tekstWelkomTitel">Maak een nieuwe account aan:</p>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">E-Mail</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Paswoord</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Bevestig uw paswoord</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Registreer</button>
                <br />
                <br />

            </form>
        </div>
        <div class='col-sm-12 col-md-2 col-lg-3'></div>
    </div>
</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
