@{
    ViewData["Title"] = "Reset paswoord bevestiging";
}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <p class="tekstWelkom">
            Uw paswoord is gereset. Druk <a class="tekstWelkomLink" asp-action="Login">hier</a> om in te loggen.
        </p>
    </div>
</div>
<br />


    
   
