@model IEnumerable<Autohandel.web.ViewModels.Components.MainNavLinkVm>

@foreach (var navlink in Model)
{
    <li@(Html.Raw(navlink.IsActive ? " class=\"nav-item active\"" : ""))>
        <a asp-action="@navlink.Action" asp-controller="@navlink.Controller" asp-area="@navlink.Area" class="nav-link">@navlink.Text</a>    </li>
    }


