@model Autohandel.Domain.Entities.VoertuigCategorie

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-action="Index"><i class="fas fa-arrow-circle-left"></i> Naar categorielijst</a>

    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Ben je overtuigd om "<b>@Model.VoertuigCategorieNaam</b>" te verwijderen?</h2>

    <div>
        <h4>VoertuigCategorie:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VoertuigCategorieNaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VoertuigCategorieNaam)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="VoertuigCatId" />
            <input type="submit" value="Verwijder" class="btn btn-danger" />
        </form>
    </div>
</div>