@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Admin Dashboard</h2>

    <div class="row text-center ">
        <div class="col-sm-6 col-md-4 col-lg-3 text-center DashItems ">
            <a asp-controller="Home" asp-action="Voertuigen" asp-area="Admin">
                <img asp-append-version="true" src="~/images/vtgn/voertuigenBeheer.jpg" alt="VoertuigenBeheer" title="VoertuigenBeheer"
                     class="img-fluid DashItemsAfbeeldingen">
            </a>

            <a asp-controller="Home" asp-action="Voertuigen" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%">Voertuigen</a>


        </div>

        <div class="col-sm-6 col-md-4 col-lg-3  text-center DashItems ">
            <a asp-controller="Home" asp-action="VoertuigOnderdelen" asp-area="Admin">
                <img asp-append-version="true" src="~/images/onderdelen/Onderdelen.jpg" alt="Onderdelen" title="Onderdelen"
                     class="img-fluid DashItemsAfbeeldingen">
            </a>

            <a asp-controller="Home" asp-action="VoertuigOnderdelen" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%">Onderdelen</a>
        </div>
        @*</div>

            <div class="row text-center ">*@
        <div class="col-sm-6 col-md-4 col-lg-3 text-center DashItems ">
            <a asp-controller="Home" asp-action="Personen" asp-area="Admin">
                <img asp-append-version="true" src="~/images/persenpapier/personen.png" alt="Personenbeheer" title="Personenbeheer"
                     class="img-fluid DashItemsAfbeeldingen">
            </a>

            <a asp-controller="Home" asp-action="Personen" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%">Personen</a>


        </div>

        <div class="col-sm-6 col-md-4 col-lg-3  text-center DashItems ">
            <a asp-controller="Home" asp-action="Adminstratie" asp-area="Admin">
                <img asp-append-version="true" src="~/images/persenpapier/papierberg.jpg" alt="Administratie" title="Administratie"
                     class="img-fluid DashItemsAfbeeldingen">
            </a>

            <a asp-controller="Home" asp-action="Adminstratie" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%">Administratie</a>
        </div>
    </div>
</div>
<br />
<br />



