@{
    ViewData["Title"] = "Index";
}


<h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Admin Dashboard</h2>

 <div class="row text-center ">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 text-center DashItems ">
            <a asp-controller="Home" asp-action="Voertuigen" asp-area="Admin">
                <img asp-append-version="true" src="~/images/vtgn/voertuigenBeheer.jpg" alt="voertuigenBeheer" title="voertuigenBeheer"
                     class="img-fluid DashItemsAfbeeldingen">
            </a>
           
                <a asp-controller="Home" asp-action="Voertuigen" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%" >Voertuigen</a>

          
        </div>
      
        <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5  text-center DashItems ">
            <a asp-controller="Home" asp-action="VoertuigOnderdelen" asp-area="Admin">
                <img asp-append-version="true" src="~/images/onderdelen/Onderdelen.jpg" alt="Onderdelen" title="Onderdelen"
                     class="img-fluid DashItemsAfbeeldingen" >
            </a>
           
               <a asp-controller="Home" asp-action="VoertuigOnderdelen" asp-area="Admin" class="btn btn-info" style="margin-bottom:2%" >Onderdelen</a>
        </div>
</div>



