@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">Beheer uw account</p><br />
        <p class="tekstWelkom">Wijzig de instellingen van de account</p>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
<br />
<br />      

@section Scripts {
@RenderSection("Scripts", required: false)
}

