@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h6 style="margin-top:20px;"><a asp-area="" asp-controller="Home" asp-action="Index" style="margin-top:40px;"><i class="fas fa-arrow-circle-left"></i> Terug naar 'Welkom'</a></h6>

</div>
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">Beheer uw account</p><br />
        <h2 style="margin-top:10%;margin-bottom:5%;" >Wijzig de instellingen van de account</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
<br />
<br />      

@section Scripts {
@RenderSection("Scripts", required: false)
}

