@using Autohandel.web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a class="tekstManageLink" asp-action="Index">Profiel | </a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="tekstManageLink" asp-action="ChangePassword">Paswoord | </a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="tekstManageLink" asp-action="ExternalLogins">Externe logins </a></li>
    }
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="tekstManageLink" asp-action="TwoFactorAuthentication"> Two-factor authentication </a></li>*@
</ul>

