@{
    ViewData["Title"] = "Schakel two-factor authentication (2FA) uit";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p>

    </div>
  

    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Deze actie schakelt enkel 2FA uit.</strong>
        </p>
        <p>
            Afzetten van 2FA verandert de gebruikte sleutels niet in authenticatie apps. Wenst u ook de sleutels te veranderen?  <a asp-action="ResetAuthenticatorWarning">
                reset de
                authenticatie sleutels.
            </a>
        </p>
    </div>

    <div>
        <form asp-action="Disable2fa" method="post" class="form-group">
            <button class="btn btn-danger" type="submit">Disable 2FA</button>
        </form>
    </div>
</div>
