@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Activeer authenticatie";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p><br />
        <p class="tekstWelkom">Gebruik van authenticatie app , volg de volgende stappen:</p>
    </div>

    <div class="row"> 
        
        <ol class="list">
            <li>
                <p class="tekstWelkom">
                    Download de two-factor authenticatie app zoals 'Microsoft Authenticator' voor
                    <a class="tekstWelkomLink" href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                    <a class="tekstWelkomLink" href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                    <a class="tekstWelkomLink" href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> of
                    Google Authenticator voor
                    <a class="tekstWelkomLink" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                    <a class="tekstWelkomLink" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                </p>
            </li>
            <li>
                <p class="tekstWelkom">Scan de QR Code of voer deze sleutel in <kbd>@Model.SharedKey</kbd> in uw  2FA authenticatie app. </p>
                <div class="alert alert-info">Om de QR code te activeren lees de <a href="https://go.microsoft.com/fwlink/?Linkid=852423">documentatie</a>.</div>
                <div id="qrCode"></div>
                <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
            </li>
            <li>
                <p class="tekstWelkom">
                    Eens de QR code gescand of de voormelde sleutel ingevoerd, uw 2FA authenticatie app 
                    Once you have scanned the QR code or input the key above, your two factor authentication app levert jou een unieke code.<br />
                    Voor de code hieronder ter bevestiging in.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Code" class="control-label">Verification Code</label>
                                <input asp-for="Code" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Verify</button>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
           </li>
      </ol>
   </div>
</div>
<br />
<br />

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
