@model GenerateRecoveryCodesViewModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p>

    </div>

    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Bewaar deze codes op een veilige plaats.</strong>
        </p>
        <p>
           Verlies van de recovery codes maakt uw account niet meer toegankelijk.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            @for (var row = 0; row < Model.RecoveryCodes.Count(); row += 2)
            {
                <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
            }
        </div>
    </div>
</div>
