@model SetPasswordViewModel
@{
    ViewData["Title"] = "Stel paswoord in";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">Stel je paswoord in</p>
    </div>
</div>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="container">
    <p class="text-info">
        U hebt nog geen lokale gebruikersnaam/paswoord voor deze site.
        Voeg een lokaal account toe.
    </p>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Set password</button>
            </form>
        </div>
    </div>
</div>
<br />
<br />
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
