@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p>

    </div>


    @if (Model.Is2faEnabled)
    {
        if (Model.RecoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>Er zijn geen recovery codes.</strong>
                <p>Genereer <a asp-action="GenerateRecoveryCodes">nieuwe recovery codes</a> vooraleer in te loggen met een recovery code.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>Er rest nog 1 recovery code.</strong>
                <p>Genereer <a asp-action="GenerateRecoveryCodes">nieuwe recovery codes</a>.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>Er resten @Model.RecoveryCodesLeft recovery codes.</strong>
                <p>Je kan <a asp-action="GenerateRecoveryCodes">nieuwe recovery codes genereren</a>.</p>
            </div>
        }

        <a asp-action="Disable2faWarning" class="btn btn-warning">Desactiveer 2FA</a>
        <a asp-action="GenerateRecoveryCodes" class="btn btn-warning">Reset recovery codes</a>
    }
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitel">Authenticator app</p>

    </div>
   
    @if (!Model.HasAuthenticator)
    {
        <a  asp-action="EnableAuthenticator" class="btn btn-info">Voeg authenticatie app toe</a>
    }
    else
    {
        <a asp-action="EnableAuthenticator" class="btn btn-info">Configureer authenticatie app</a>
        <a asp-action="ResetAuthenticatorWarning" class="btn btn-info">Reset authenticatie sleutel</a>
    }
</div>
<br />
<br />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
