@{
    ViewData["Title"] = "Home Page";
}
@section showPublic{
    @await Component.InvokeAsync("MainNavigation", new { showAdmin = false })
}
@section head{

}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">WELKOM</p>
    </div>

        <div class="row" style="color:dimgray">
            
            <div class='col-sm-12 col-md-12 col-lg-5'>
                <a class="tekstWelkomLink" href="~/images/garage/g_1.jpg" data-toggle="lightbox" data-gallery="hidden-images" data-title="1/15" name="lightboxgallery"  >
                    <div class="mapImage">
                        <span class="pin pin1"> <i class="fas fa-search-plus fa-stack-2x"></i></span><img class="img-fluid card-img" alt="fotogallerij" src="~/images/garage/g_1.jpg" style="margin-top:5%;margin-left:5%  ;margin-bottom:5%; height:300px;width:452px;" />

                    </div>

                    <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <!-- elements not showing, use data-remote -->
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_2.jpg" data-title="2/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_3.jpg" data-title="3/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_4.jpg" data-title="4/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_5.jpg" data-title="5/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_6.jpg" data-title="6/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_7.jpg" data-title="7/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_8.jpg" data-title="8/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_9.jpg" data-title="9/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_10.jpg" data-title="10/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_11.jpg" data-title="11/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_12.jpg" data-title="12/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_13.jpg" data-title="13/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_14.jpg" data-title="15/15"></div>
            <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="../images/garage/g_15.jpg" data-title="15/15"></div>

            <div class='col-sm-12 col-md-12 col-lg-7'>
                <p class="tekstWelkomTitel"> AUTO'S VANDENHEEDE verwelkomt u graag op zijn website.</p>
                <p class="tekstWelkom">
                    Auto's Vandenheede is een familiebedrijf met reeds meer dan 30 jaar ervaring en is gespecialiseerd in de aankoop en verkoop van jonge tweedehandswagens.<br /><br />
                    Via deze weg laten wij u graag kennismaken met ons bedrijf.<br /><br />

                    Naast informatie omtrent onze <a class="tekstWelkomLink" href="../Home/Contact">openingsuren en routebeschrijving</a>, bieden wij u graag een kijkje in ons autobedrijf.
                    Eveneens vindt u op onze site ook <a class="tekstWelkomLink" href="../Home/Autoos">ons volledig aanbod van wagens in voorraad.</a><br /><br />

                    In november 2014 openden wij onze nieuwe showroom te Gistel. Hierdoor kunnen wij u een optimale service aanbieden!<br /><br />

                    Sedert eind 2016 verzorgen wij voor u een <a class="tekstWelkomLink" href="../Home/Parts">onlineverkoop van autoparts!</a><br /><br />
                </p>

            </div>

            <!-- row / end -->
        </div> <!-- container / end -->
    </div>

 

