@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<footer class="container-fluid" style="padding-left:0; padding-right:0;" >
    <div class=" text-center" style="background-color:lavender">
        <ol style="font-size:10px;list-style-type:none; margin-bottom:0; padding-bottom:1rem;">
            <li>

                <a href="https://nl-nl.facebook.com/people/Ivan-Dellobel/100009987694704"> <img src="~/images/facebook.png" alt="facebook.com/people/Vandenheede" title="facebook.com/people/Vandenheede" /></a>
                <span><a href="https://twitter.com/ivandellobel"> <img src="~/images/twitter.png" alt="twitter.com/people/Vandenheede" title="twitter.com/people/Vandenheede" /></a></span>
                <span><a href="mailto:ivan.dellobel@gmail.com"> <img src="~/images/email.png" alt="mailto:Vandenheede" title="mailto:Vandenheede" /></a></span>

            </li>
            <li> Auto Vandenheede | Oostendsebaan 1/A | BE-8470 Gistel</li>
            <li style="text-decoration:underline">Openingsuren :</li>
            <li>Maandag - vrijdag | 08.30u - 12.00u & 13.00u - 18.00u of na afspraak</li>
            <li> Zaterdag  | 09.30u - 12.00u & 13.30u - 16.00u of na afspraak</li>
            <li> +32 (0)474 57 32 58</li>
            <li class="font-weight-bold">TIJDENS DE MAAND JULI & AUGUSTUS gesloten op zaterdag namiddag (tenzij op afspraak)</li>
            <li>+32 (0)474 57 32 58</li>
            <li>&copy; @DateTime.Now.Year - Autohandel.web</li>
        </ol>
    </div>

</footer>
